* {
   font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    height: 100%; 
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

button {
    background-color: #02248d;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    padding: 5px 24px;
}

.nav, 
.hero-container,
.footer {
    background-color:#a0d1f0;
    color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 200px 0 200px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cfe73a;
    padding: 8px;
    font-size: 24px;
    border-radius: 16px;
}

.links {
    font-size: 18px;
    display: flex;
    gap: 28px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    padding: 50px 200px 75px 200px;
}

.hero-text {
    flex: auto;
}

.hero-text h1 {
    font-size: 48px;
    margin: 0;
}

.hero-text p {
    font-size: 18px;
    color: black;
    margin-right: 50px;
}

.hero-img {
    display: flex;
    justify-content: flex-end;
    flex: auto;
}

.hero-img img {
    width: 450px;
    height: auto;
    border-radius: 100px;
    border: 2px solid #d43595;
}

.contact a {
    color: white;
}

.projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 75px 200px 75px 200px;
}

.projects h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: black;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

.datasets {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0;
}

.dataset {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 175px;
    height: auto;
}

.dataset p {
    text-align: center;
    margin-top: 8px;
    color: black;
}

.dataset img {
    width: 175px;
    height: 150px;
    border: 3px solid #cfe73a;
    border-radius: 8px;
}

.quote {
    background-color: #d43595;
    color: white;
}

.quote-container {
    display: flex;
    flex-direction: column;
    padding: 75px 350px;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: light;
}

.credit {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
    font-weight: 900;
}

.hire {
    background-color: #02248d;
    color: white;
    margin: 75px 200px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

.hire-container {
    margin: 25px 0px;
    width: 900px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hire-container button {
    background-color:#cfe73a;
    border: 1px solid white;
}

.hire-container a {
    color: black;
}

.hire-text p {
    margin: 0px 0px 16px 0px;
}

.hire-text h3 {
    margin: 16px 0px 0px 0px;
}

.footer {
    text-align: center;
    font-size: 16px;
}


